{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    {% if error %}
    <h3 style="color:red">ERROR</h3>
    {% endif %}
    <form style="padding-right: 20%;" method="POST" action="{% url 'new_page' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="newPageTitle">{{ page_title }}</label>
            <input type="text" class="form-control" id="newPageTitle" name="title" placeholder="Title of page..." required>
        </div>
        <div class="form-group">
            <label for="newPageContent">Page Content</label>
            <textarea class="form-control" id="newPageContent" name="content" rows="10" required>{{ page_content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create New Page</button>
    </form>
{% endblock %}
